.awesome__list {
    display: flex;
    justify-content: space-between;
}

.awesome__item {
    padding: 0 15px;
    text-align: center;
}

.awesome__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    border: 2px solid orange;
    border-radius: 50%;
    font-size: 27px;
    margin: 0 auto 30px;
}

.awesome__text {
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(134, 135, 139);
    line-height: 1.429;
}

.awesome__title {
    margin-bottom: 30px;
}

.awesome__section-name {
    margin-bottom: 80px;
}

.awesome {
    padding: 100px 0;
}